<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../../images/16x16-SLUHN.ico">
    <link rel="apple-touch-icon" href="../../images/star_apple-touch-icon-192x192.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- inject:css -->
     <!-- endinject -->
</head>
<body>
     @@include('../../Components/header/header.html') 
   
    <main id="main">
        <!-- @@include('../../Components/banner-video/banner-video.html')-->
        <!-- @@include('../../Components/slu-about/slu-about.html') -->
        <!-- @@include('../../Components/slu-follow/slu-follow.html')
        @@include('../../Components/popular-services/popular-services.html')
      --> 


       @@include('../../Components/banner/banner.html')
      @@include('../../Components/teams/teams_data.html') 
       
      <!-- @@include('../../Components/onclickjs_comp/onclickjs_comp.html') -->

        </main>
         @@include('../../Components/footer/footer.html') 

        <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>
</html>
