
    .main {
        border: 1px solid green;
        width: 50%;
        margin-bottom: 20px;
        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        &-component {
            background-color: aqua;
            display: none;
            width: 100%;
        }
    }

