<div class="header">
    <div class="header-navbar">
        <div class="header-navbar-top">
            <a href="#" title="create account"> <i class="fas fa-user-circle " aria-hidden="true"></i>Create account
            </a>
            <a href="#" title="signin">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>signin </a>
        </div>
    </div>
    <div class="header-navbar-btn">
        <div class="header-navbar-btn-logo">
            <img src="../../images/header-logo.png" alt="logo">

        </div>
        <div class="header-navbar-btn-link">
            <p>Plastic & Reconstructive Surgery</p>
            <a href="#"   id="aa1">About</a>
            <a href="#" id="aa2" >Meet the team</a>
            <a href="#" id="hidDiv1">Services</a>
            <a href="#"  id="aa3" >Location</a>
            <a href="#"id="hidDiv3">Gallery</a>
            <a href="#"  id="aa4" >Contact US</a>
        </div>
    </div>
    
    <div class="hidden-upper-nav " id="hidDiv2">
        <a href="#" >About</a>
        <a href="#" >Meet the team</a>
        <a href="#" >Services</a>
        <a href="#" >Location</a>
        <a href="#">Gallery</a>
    </div>

    <div  class="hidden-lower-nav" id="hidDiv4" >
       
        <a href="#" >Location</a>
        <a href="#">Gallery</a>
    </div> 
</div>