<div class="teams">
    <diV class="teams-heading">
        <h1>Meet the teams</h1>
    </diV>

    <div class="teams-paragraph">
        <p>St. Luke’s Plastics &amp; Reconstructive Surgery is skilled at repairing wounds and skin affected by injury,
            infection, disease or surgical treatments. From skin cancer removal to reduction of scars, our skilled
            surgeons offer several techniques to restore the health and appearance of your skin.</p>
    </div>
    <div class="teams-Surgical">
        <h1>Surgical</h1>
    </div>

    <div class="teams-container">
        <div class="teams-container-image">
            <!-- <img src="../../../images/team-profile.png" alt="img"> -->
         
        </div>
        <div class="teams-container-innerBorder">

        </div>
        <div class="teams-container-text">

            <p class="teams-container-text-upperpara">Jonathan S.Lam, MD <br>Plastic Surgery </p>
          
            <p class="teams-container-text-lowerpara">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard
                dummy
                text ever since the 1500s,</p>

            <div class="teams-container-text-bttn">
                <p> See more<i class="fas fa-angle-right"></i></p>
            </div>
        </div>
    </div>

    <div class="teams-Doctor">
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
    </div>

    <div class="teams-Surgical">
        <h1>Non-Surgical</h1>
    </div>

    <div class="teams-Doctor">
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
        <div class="teams-Doctor-data">
            <img src="../../../images/team.png" alt=" img">
            <h4>Jonathan S.Lam, MD Plastic Surgery</h4>
            <div class="teams-Doctor-data-innerBorder">

            </div>
        </div>
      
    </div>

</div>